.Right_headers{
    height: 100vh;
    width: 300px;
    background-color: white;
}


@media screen and (max-width:768px) {
    .Right_headers{
        height: 100vh;
        width: 300px;
        z-index: 99;
        position: absolute;
        right: 100%;
        background-color: white;
    }
    
}