@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}




nav ul li {
  width: 100%;
}

nav ul li .mainlink{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  margin: 6px 0;
  font-weight: 600;
}

.mainlink .linkicon {
  margin-right: 10px;
}

@media screen and (max-width:640px) {
    nav ul li .linkname{
      display: none;
    }

    .mainlink .linkicon {
      margin-right: 0px;
      font-size: 20px;
    }
    
}

.formclass input::placeholder{
  font-size: 14px;

}

.formclass input:active{
  border: none;
  outline: none;
}


.deliveryPickupBtn::after{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
}


/* single item list styles section  */
.CatagoryBox{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  place-items: center;
  row-gap: 20px;
}

.itemsinglelist{
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.itemsinglelist .singleinner{
  padding: 20px;
  
}


/* main body more type styles  */

  .moretype{
    height: 100vh  !important;
  }

  .moretype::-webkit-scrollbar{
    width: 3px;
    height: 5px;
  }
  
  .moretype::-webkit-scrollbar-thumb{
    background-color: rgb(156, 156, 156);
    border-radius: 8px;
  }
  

/* gomailbox styles start 44 */

.gomailboxContainer{
  width: 100%;
  margin-top: 20px;
}

.GomealBox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  place-items: center;
  row-gap: 20px;
}

.GomealBox::-webkit-scrollbar{
  width: 3px;
  height: 5px;
}

.GomealBox::-webkit-scrollbar-thumb{
  background-color: rgb(156, 156, 156);
  border-radius: 8px;
}

.gomailSingleList{
  width: 230px;
  border-radius: 10px;
  margin-right: 10px;
  height: 230px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topbox{
  width: 90%; 
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottombox{
  width: 90%;
  margin: auto;
  height: 30%;
}

.imagebox{
  width: 120px;
  height: 120px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

.buttons{
  margin-top: 10px;
}

.buttonborder{
  border: 1px solid gray;
  color: gray;
  font-size: 12px;
  padding:4px 10px;
  border-radius: 9px;
  font-weight: 600;
}



/* order menu box style start  */
.ordermenuimage{
  width: 60px ;
  height: 60px ;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ordermenubox{
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.ordermenu .namebox p{
  font-size: 11px;
  color: gray;

}

.ordermenu .namebox h5{
  font-size: 13px;
  color: gray;

}

.pricebox{
  font-size: 15px;
}